body {
    background-color: #fff7e5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 40px;
}

.title {
    background-color: #ffd480;
    color: tomato;
    font-size: 40px;
    padding: 20px;
}

h2 {
    text-decoration-line: underline;
}

img {
    border-style: dashed;
    margin: 0 auto;
    display: block;
}

li {
    padding-bottom: 10px;
}

a {
  color: #66b3ff;  font-weight: bold;
  text-decoration-line: none;
}

a:hover {
  background-color: gainsboro;
}

